@model ResetPassword

<section class="vh-100">
	<div id="breadcrumb" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header"><a href="/">Quay về trang chủ</a></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row" style="display: flex; justify-content: center; align-items: center;">
                <form asp-action="ResetPassword" method="post" class="col-md-8 order-details">
                        <input type="hidden" asp-for="Token" />

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Mật khẩu mới</label>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

					<button type="submit" class="primary-btn order-submit" style="max-width: 200px; margin: auto; margin-top: 30px;">Xác nhận</button>
				</form>
			</div>
		</div>
	</div>
</section>